<div class="flex items-center flex-col mt-4 gap-4 mx-3">

    <img class="max-h-32 rounded-full" src="../../../assets/images/avatar.png" alt="">

    <div class="">
        <h1 class="text-lg text-[#e96269]">👋 HI! I'M <span>AGUSTIN</span></h1>
    </div>

    <p class="text-lg text-[#696969] text-center">
        A Fullstack web <span class="text-[#e96269]">developer</span> and
        designer
        <span class="smallerText text-[#b3b3b3] text-xl">(sometimes)</span> with a passion for
        creating engaging, entertaining user experiences. ✨
    </p>

    <p class="text-[#e96269] text-lg">Based in <span class=" tex">Buenos Aires, Argentina</span></p>

    <div class="mt-6 mb-20 text-center">
        <a class="text-xl text-[#e96269]" href=" #">Let's work!<br>></a>
    </div>

</div>